# OpenWeatherMap API
NEXT_PUBLIC_WEATHER_API_KEY=your_openweathermap_api_key
NEXT_PUBLIC_WEATHER_API_URL=https://api.openweathermap.org

# Admin Credentials
ADMIN_EMAIL=admin@weatherdash.com
ADMIN_PASSWORD=admin123

# NextAuth
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
